@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
    transition-property: width, height, gap, border;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
} */